# Eclipse / STS
.metadata/
.classpath
.project
.settings/

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.log

# Maven
.mvn/timing.properties

# React / Node
node_modules/
dist/
build/

# Environment
.env
.env.*

# IDE
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db